# 0.1 Import libraries

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os

# 0.2 Import Data

In [4]:
# import folder as path
path = r'C:\Users\chris\OneDrive\Documents\11-23-2023 Instacart Basket Analysis'

In [5]:
# import product_checked as data frame
df_prods = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'), index_col = 0)

In [6]:
# import orders_wrangled as data frame
df_ords = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_wrangled.csv'), index_col = 0)

# 0.3 Data consistenct

In [7]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

Looking at the max and min values there doesnt seem to be any extraordinary values.

In [8]:
# check for mixed data types within df_ords
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [9]:
#check for missing values within df_ords
df_ords.isnull().sum()

order_id                      0
user_id                       0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_last_order    206209
dtype: int64

The days_since_last_order is used to keep track of the number of days since a customer last conducted a previous order. New customers have not conducted a previous order, which results in the column returning null values for those customers.

In [10]:
# replaces missing values in the day_since_last_order with 0
df_ords['days_since_last_order'].fillna(0, inplace = True)

In [13]:
df_ords.isnull().sum()

order_id                 0
user_id                  0
order_number             0
orders_day_of_week       0
order_hour_of_day        0
days_since_last_order    0
dtype: int64

Addressing the issue: These missing values cannot be eliminated since they comprise about 6% of the data and gives us crucial information on how many customers are new. Imputing could be used to addess the missing values, but the mean and median would create a false narrative that these customers order frequently. The best thing to do would be to create a new column that marks these missing values as new customers, while also replacing the missing values with 0. For this task opted to fill the missing values with 0.

In [14]:
# creates a data frame the shows duplicated rows
df_dups = df_ords[df_ords.duplicated()]

In [15]:
df_dups

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_last_order]
Index: []

The duplicate table returned no values which indicates that there are no duplicate values in the df_ords.

In [16]:
df_ords.to_csv(os.path.join(path,'02 Data', 'Prepared Data','ords_checked.csv'))