# 4.6 Task - Merging Order Products Combined with Products

### Content List
#### 1. Data Import
#### 2. Data Consistency
#### 3. Data Merge

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

#### 1. Data Import

In [2]:
# import project folder as path
path = r'C:\Users\chris\OneDrive\Documents\11-23-2023 Instacart Basket Analysis'

In [4]:
# import orders_products_combined.pkl as dataframe
df_orders_products_combined = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [6]:
# import products_checked.csv as dataframe
df_prods = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'), index_col = 0)

#### 2. Data Consistency

In [5]:
# check for dataframe dimensions
df_orders_products_combined.shape

(32434489, 10)

In [7]:
# check for columns in dataframe
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [8]:
# check for columns in dataframe
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

The dataframes have different dimensions but share same column in 'product_id'. This indicates that a merge function should be used to combine both dataframes.

#### 3. Data Merge

In [12]:
# eliminate _merge column
df_orders_products_combined = df_orders_products_combined.drop(columns = '_merge')

In [13]:
# merge dataframes into one
df_ords_prods_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [15]:
# check for columns in new dataframe
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [16]:
df_ords_prods_merged.shape

(32404859, 14)

In [17]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [20]:
# export data frame as pickle
df_ords_prods_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge.pkl'))